html {
    height: 100%;
    min-height: 100%;
	width:100%;
	margin:0px;
	padding:0px;
}
body {
	margin:0px;
    height: 100%;
    min-height: 100%;
	font-family:sans-serif;
	font-size:1em;
}

div#header {
	background-color: #ffe6e6;
	width:calc( 100% - 2em );
	height:6em;
	padding:1em;
}

div#content {
	background-color: #ffe6e6;
	width:calc( 100% - 2em );
	height: calc( 100% - 10em);
	padding: 1em;
}

div#content div#main {
	background-color:#ffffff;
	width: calc( 100% - 15em);
	height:100%;
	min-height:100%;
	float:left;
	line-height: 1.8;
	overflow-y:auto;
}

div#content div#side {
	background-color: #ffe6e6;
	width: 11em;
	height:100%;
	min-height:100%;
	padding: 2em;
	float:left;
}

div#content div#main span.date {
	color:grey;
	float:right;
	display:inline-block;
}

.left {
	float:left;
}

.right {
	float:right;
}

/* Forms */
div#content div#main label {
	display:inline-block;
	width:13em;
	text-align: right;
}

div#content div#main input.readonly {
	border:1px solid darkgray;
	background-color:lightgray;
	color: black;
	
}

div#content div#main input[type='password'] {
	width:50%;
}

div#content div#main input[type='text'] {
	width:50%;
}

div#content div#main input[type='text']:valid {
	border:1px solid darkgreen;
	background-color:lightgreen;
}

div#content div#main input[type='text']:invalid {
	border:1px solid red;
	background-color:pink;
}


div#content div#main input[type='email'] {
	width:50%;
}

div#content div#main input[type='email']:valid {
	border:1px solid darkgreen;
	background-color:lightgreen;
}

div#content div#main input[type='email']:invalid {
	border:1px solid red;
	background-color:pink;
}

/* Entries */
div#content div#main div.entry {
	line-height: 1.2;
	clear:both;
}
div#content div#main div.entry span.title {
	display:block;
	font-size:2em;
	font-weight:bold;
	color: Maroon;
}

div#content div#main div.entry img.edit {
	display:inline-block;
	margin-left:0.3em;
	height:0.6em;
	cursor:pointer;
}

div#content div#main div.entry span.author {
	display:block;
	color:DarkSlateGray;
	clear:both;
	float:left;
}

div#content div#main div.entry span.date {
	display:block;
	color:DarkSlateGray;
	float:left;
	clear:both;
}

div#content div#main div.entry div.content {
	width:100%;
	color:black;
	clear:both;
}

div#content div#main div#navigation {
	width:100%;
	clear:both;
	text-align:center;
	font-size: 2em;
	vertical-align: middle;
}

div#content div#main div#navigation img {
	vertical-align: middle;
	padding-right:0.2em;
	padding-left:0.2em;
}

div#content div#main p.error {
	color:red;
	font-weight: bold;
	text-align: center;
}