html {
    height: 100%;
    min-height: 100%;
	width:100%;
	margin:0px;
	padding:0px;
}
body {
	margin:0px;
    height: 100%;
    min-height: 100%;
	font-family:sans-serif;
	font-size:1em;
}

div#header {
	background-color: #ffe6e6;
	width:calc( 100% - 2em );
	height:6em;
	padding:1em;
}

div#content {
	background-color: #ffe6e6;
	width:calc( 100% - 2em );
	height: calc( 100% - 10em);
	padding: 1em;
}

div#content div#main {
	background-color:#ffffff;
	width: calc( 100% - 15em);
	height:100%;
	min-height:100%;
	float:left;
	line-height: 1.8;
	overflow-y:auto;
}

div#content div#side {
	background-color: #ffe6e6;
	width: 11em;
	height:100%;
	min-height:100%;
	padding: 2em;
	float:left;
}

div#content div#main span.date {
	color:grey;
	float:right;
	display:inline-block;
}

.left {
	float:left;
}

.right {
	float:right;
}